body,
html{
	height: 100%;
	width: 100%;
	font-family: 'Montserrat' , sans-serif;
	background: url(background_image.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
h1{
	color: #e2dbdb;
}
.design{
	background-color: rgb(0 0 0 / 70%);
	font-family: serif;
}
hr{
	border-width: 3px;
	max-width: 178px;
	color:white ;

}
hr:hover{
	border-width:5px ;
}

.btn {
	border-radius: 600px;
		font-weight: 700;
	 
	 text-transform: uppercase;

}
.btn-primary{

background-color: orange;
border-color: orange;
		
}

.btn-primary:hover{

	background-color: orange;
	border-color: orange;
	border-width: 2px;


}
.btn-xl{
	padding: 1rem 2rem ;
	
	}

